
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: white;
    max-width: 400px;
    width: 100%;
  }
  
  .search-icon {
    color: gray;
    margin-right: 8px;
    font-size: 50px;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
    color: #333;
  }
  
  .right-box {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px;
    white-space: nowrap;
  }
  

  /* card */
  .dimmed-heading {
    font-size: 1rem;
    color: #999999; 
    opacity: 0.6;
    font-weight: 500;
    cursor: not-allowed;

    
  }

  

  /* range */
  .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .range-slider {
    position: relative;
    width: 80%;
  }
  
  .slider-track {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: orange;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .slider-range {
    position: absolute;
    height: 8px;
    background-color:orange;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;  
  }
  
  .circle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid orange;
  }
  
  .left-circle {
    left: 0;
  }
  
  .right-circle {
    left: 100%;
  }
  

  /* payment success */

  .success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .success-circle {
    width: 70px;
    height: 70px;
    border: 4px solid green;
    background-color: #d4edda;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkmark {
    color: green;
    font-size: 48px;
    font-weight: bold;
  }
  
  .success-text {
    margin-top: 20px;
    font-size: 20px;
    color: green;
    font-weight: 600;
  }
  



  /*  Login Page */
.login-card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.orange-line {
  border-top: 5px solid orange;
}

.otp-text {
  font-size: 16px;
  color: #555;
}

.form-heading {
  margin-bottom: 20px;
  margin-left: 50px;
}
